*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    position: relative;
}
.nav-container{
    display: grid;
    grid-template-columns: 450px 500px 500px;
    position: fixed;
    width: 100%;
}
.logo-container{
    padding: 10px;
    background-color: white;
}
.navigation{
    padding: 20px;
    background-color: #F4F4F8;
}
.social-icons{
    background-color: white;
    padding: 30px 10px 0px 5px;
}

@media only screen and (max-width: 1000px) {
    .nav-container{
        display: grid;
        grid-template-columns: 500px;
    }
    .navigation{
        position: absolute;
        top: 0;
        right: 0;
        display:inline-block;
    }
    .social-icons {
      float: left;
      display: block;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .social-icons {
      min-width: 50px;
    }
    .pictures{
        min-width: 300px;
    }
  }
  
.search-form::after{
    content: "";
    clear: both;
    display: table;
}
.search{
    color: black;
    font-size: 17px;
    border: 2px solid gray;
    background-color: #BEE3DB;
    cursor: pointer;
    float: left;
    width: 20%;
    padding: 12px;
    border-left: none;
    border-radius:0px 10px 10px 0px;
}
.search:hover{
    background-color: white;
}
.search:focus{
    outline: none;
    cursor: progress;
    border: 2px solid black;
}
.search-area:focus{
    border: 2px solid black;
    outline: none;
}
.search-area{
  padding: 10px;
  font-size: 17px;
  border: 2px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 10px 0px 0px 10px;
}
nav a,.login-button,.register-button{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0,0,0,.9);
}
.login-button,.register-button{
    border: none;
    background-color: #F4F4F8;
}
 nav a:hover,.login-button:hover,.register-button:hover{
    background-color: gray;
    border-radius: 50%;
}
.first-white-space{
    height: 150px;
}
.advert1{
    width: 100%;
}
.pictures{
    display: grid;
    place-items: center;
}
.pictures::after{
    content: "";
    position: absolute;

}
.divider{
    height: 100vh;
    margin-top: 100px;
    background-color: gray;
}

h1,h2,h3,p{
    padding: 20px;
}
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
}